<!DOCTYPE html>

<html>

<head>
    <title>Minify - Home</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <div>
            <p class="main">A url shortener with no restrictions  </p>
            <p class="sub">shortening links easily with a few clicks, get unlimited access to your short links all at no cost</p>
        </div>

        <div class="tabs"> 
            <div>Create short link</div>
            <div>Extend shortlink duration</div>
        </div>
        <form class="form1">
            <h3>Create short link</h3>
            <input placeholder="URL*">
            <input placeholder="slug (optional)">
            <input placeholder="secret*">
            <input type="date" placeholder="duration*">
            <button>Create</button>
        </form>

        <form class="form2">
            <h3>Extend shortlink duration</h3>
            <input placeholder="URL*">
            <input placeholder="slug (optional)">
            <input placeholder="secret*">
            <input type="date" placeholder="duration*">
            <button>Create</button>
        </form>

    </div>

        {{>footer}}

    <script src="../scripts/index.js"></script>
</body>

</html>