<body>
    <style>
        .header {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:chocolate;
            font-style: italic;
            margin: 0;
            text-decoration: none
        }
    </style>

    <header>
        <h1><a href='/' class="header">Minify</a></h1>
    </header>
</body>
