* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-content > * {
  padding: 1.3rem;
}

#content > * {
  padding: 1.3rem;
}

.main-text {
  padding-top: 0;
}

.main {
  font-size: 2rem;
  color: rgb(2, 2, 41);
  font-weight: 600;
  margin-bottom: 0;
}

.sub {
  margin-top: 0;
  font-size: 20px;
}

.tabs {
  display: flex;
}

.tabs > div {
  padding: 0.6rem;
  border: 1px solid black;
  font-weight: 500;
  cursor: pointer;
}

.tabs > div:first-child {
  border-radius: 8px 0 0 8px;
}

.tabs > div:last-child {
  border-radius: 0 8px 8px 0;
}

.tabs > div.selected {
  background-color: #2a5bd7;
  border: 1px solid #2a5bd7;
  color: white;
  cursor: initial;
}

form {
  margin-left: 1.3rem;
  display: flex;
  flex-direction: column;
  padding-top: 0 !important;
  gap: 20px;
}

input {
  height: 2rem;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  input {
    width: 25rem;
  }
}

button {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: #2a5bd7;
  width: fit-content;
  border-radius: 5px;
}

.d-none {
  display: none;
}

#content {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#success {
  display: none;
  color: green;
  margin: 2rem;
  padding: 1.5rem;
  background-color: #b7f5b7;
  border-radius: 10px;
}

#link {
  color: chocolate;
}

code {
  color: #444;
  background-color: #aaa;
  padding: 0.1rem 0.4rem;
  border-radius: 3px;
}
